
{% load static %}
{% block title %}
Add Student
{% endblock title %}
{% block stylecss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="{% static "assets/css/SignUp.css" %}" rel="stylesheet">
{% endblock stylecss %}
{% block body %}
<div class = "main">
    
<!-- Modal - Delete Student -->
<div class="modal" id="/logout" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Student Name: {{ user}}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this student?</p>

        </div>
        <div class="modal-footer">
          <form action="" method="POST">
            {% csrf_token %}
            <a href="/"><div class="btn btn-outline-danger my-1 my-sm-0 btn btn-warning">LogOut</div></a>
          </form>
          <a href="/home"><div class="btn btn-outline-danger my-1 my-sm-0 btn btn-success"ndata-bs-dismiss="modal">Cancel</div></a>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}