body {
   background-image: url('../img/12.jpg');
   background-position: 0%;
   background-size: cover;
   width: 100vw;
 height: 100vh;
}
.img-thumbnail {
    /* padding: 2.25rem; */
    /* background-color: #fff; */
    /* border: 1px solid #dee2e6; */
    background-color: black;
    border-color: green;
    border-radius: 25.25rem;
    max-width: 100%;
    height: auto;
}

p{
    color:black;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input:focus {
    border: 3px solid #555;
  }
.main {
    text-align:center;
    font-family:"Times New Roman";
}
.marq {
    padding-top:20px;
    padding-bottom:20px;
}
.geek1 {
    font-size:26px;
    font-weight:bold;
    color:white;
    padding-bottom:3px;
}
.geek2 {
  font-size:26px;
  font-weight:bold;
  color:white;
  padding-bottom:3px;
}
label{
    font-style:oblique;
    font:bold;
}