{% load  static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
    {% block title %}
    iPortfolio-Narendra Reddy
    {% endblock title %}
  </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Vendor CSS Files -->
  {% block scripts %}
  
  {% endblock scripts %}
  <link href="{% static "assets/vendor/aos/aos.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/boxicons/css/boxicons.min.css" %}"rel="stylesheet">
  <link href="{% static "assets/vendor/glightbox/css/glightbox.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/swiper/swiper-bundle.min.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '/assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static '/assets/css/Student.css' %}" rel="stylesheet">
  {% block stylecss %}
  
  {% endblock stylecss %}
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
      <div class="profile">
        <img src="{% static "assets/img/11.jpg" %}" alt="" class="img-fluid rounded-circle">
        <div class = "main">
          <marquee class="marq "  direction = "right" loop="" Scrollamount=12>
              <div class="geek1">Welcome to Divya'S International School</div>
          </marquee>
        <div class="social-links mt-3 text-center">
          <a href="https://divyainternationalschool.in/" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://divyainternationalschool.in/" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://divyainternationalschool.in/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://divyainternationalschool.in/" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="https://divyainternationalschool.in/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/home" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/StudentAdd" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Add Student </span></a></li>
          <li><a href="/StudentDetails" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Add Student Details </span></a></li>
          <li><a href="/contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
          <li><a href="/logout" class="nav-link scrollto"><i class="bx bx-user"></i> <span>LogOut</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
{% block hero %}

{% endblock hero %}
  

  <main id="main">
{% block body %}

{% endblock body %}
   
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio-Divya'S International School</span></strong>
      </div>
      <div class="credits">
        Designed by <a href="https://divyainternationalschool.in/">Divya'S International School</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "assets/vendor/purecounter/purecounter_vanilla.js" %}"></script>
  <script src="{% static "assets/vendor/aos/aos.js" %}"></script>
  <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "assets/vendor/glightbox/js/glightbox.min.js" %}"></script>
  <script src="{% static "assets/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "assets/vendor/swiper/swiper-bundle.min.js" %}"></script>
  <script src="{% static "assets/vendor/typed.js/typed.umd.js" %}"></script>
  <script src="{% static "assets/vendor/waypoints/noframework.waypoints.js" %}"></script>
  <script src="{% static "assets/vendor/php-email-form/validate.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "assets/js/main.js" %}"></script>

</body>

</html>