{% extends 'base.html' %}
{% load static %}
{% block title %}
Divya'S International School ,Hyderabad
{% endblock title %}
<!-- Add Css Style -->
{% block stylecss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="{% static "assets/css/SignUp.css" %}" rel="stylesheet">
{% endblock stylecss %}
{% block hero %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  
    <div class="hero-container" data-aos="fade-in">
      <h1>Welcome To</h1>
     <h1><p><span class="typed" data-typed-items=" Divya'S International School Hyderabad"></span></p></h1>
    </div>
  </section><!-- End Hero -->
  
{% endblock hero %}
{% block body %}
{% for message in messages %}
      <div class="alert alert-warning alert-{{message.tags}} dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
{% endblock body %}