{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'assets/css/Login.css'%}" />
  </head>
  <body>
    <div class = "main">
      <marquee class="marq bg-dark"  direction = "right" loop="" Scrollamount=12>
          <div class="geek1">Welcome to Divya'S International School</div>
          <div class="geek2">No.1 Educational Instution</div>
          
      </marquee>
      </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          {% comment %}
          <img
            src="{% static 'assets/img/1.jpg'%}"
            alt="..."
            class="img-thumbnail"
          />
          {% endcomment %}
        </div>
       
      
        <div class="col-md-4">
          <h2 class="text-Black text-center">Login</h2>
          {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          <form action="/" method="post">{% csrf_token %}
            <label class="text-Black"><h6>UserName (or) Email</h6></label>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="username"
                placeholder="Enter UserName or Email"
                required
              />
            </div>
            <label class="text-Black"><h6>Password</h6></label>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Enter Password"
                required
              />  
            </div>
            <label><h6>Enter Captcha:</h6></label>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" readonly id="capt">
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="textinput">
              </div>
            </div>
      
        <div class="form-group">
              <button onclick="validcap()" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
          </form>
          <h6>Captcha not visible <img src="{% static "assets/img/refresh.jpg" %}" width="40px" onclick="cap()"></h6>
          <h6>New Here?<a href="/signup">Sign Up</a> </h6>
        </div>
      </div>
      </div>
      <script type="text/javascript">
        function cap(){
          var alpha = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V'
                       ,'W','X','Y','Z','1','2','3','4','5','6','7','8','9','0','a','b','c','d','e','f','g','h','i',
                       'j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z', '!','@','#','$','%','^','&','*','+'];
                       var a = alpha[Math.floor(Math.random()*71)];
                       var b = alpha[Math.floor(Math.random()*71)];
                       var c = alpha[Math.floor(Math.random()*71)];
                       var d = alpha[Math.floor(Math.random()*71)];
                       var e = alpha[Math.floor(Math.random()*71)];
                       var f = alpha[Math.floor(Math.random()*71)];
      
                       var final = a+b+c+d+e+f;
                       document.getElementById("capt").value=final;
                     }
                     function validcap(){
                      var stg1 = document.getElementById('capt').value;
                      var stg2 = document.getElementById('textinput').value;
                      if(stg1==stg2){
                        alert("Form is validated Succesfully");
                        return true;
                      }else{
                        alert("Please enter a valid captcha");
                        return false;
                      }
                     }
      </script>
  </body>
</html>
